<body>
    <div class="jumbotron">
        <h1 class="alert alert-primary">
            See you, {{ email }}!
        </h1>
    </div>
    <script>
        setTimeout(() => {
            location.href = '/auth/login'
        }, 2000)
    </script>
</body>

</html>