<body>
    <div class="jumbotron">
        <h1 class="alert alert-primary">See you, {{ user.name }}!</h1>
    </div>
    <script>
        setTimeout(() => {
            window.location = '/auth/login'
        }, 2000)
    </script>
</body>

</html>