<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
            {{> header}}
        </header>
        <main>
            <div class="jumbotron">
                <h2>Add a product</h2>
                <form method="POST" action="/products">
                    <div class="form-group">
                      <label for="name">Product</label>
                      <input type="text" class="form-control" name="name">
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" name="price">
                      </div>
                      <div class="form-group">
                        <label for="thumbnail">Photo URL</label>
                        <input type="text" class="form-control" name="thumbnail">
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </main>
    </div>
</body>
</html>