nav(class="navbar navbar-expand-lg navbar-light bg-light")
    div(class="collapse navbar-collapse" id="navbarNav")
        ul(class="navbar-nav")
            li(class="nav-item active") 
                a(class="nav-link" href="/") Form
            li(class="nav-item active") 
                a(class="nav-link ative" href="/products") Products